<!DOCTYPE html>
<html>
    <head>
        <title>
            Layouts
        </title>
        <link href="style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div>





            <div class="black">

            </div>
            
            <div class="white">

            </div>
            
            <div class="black">

            </div>
            
            <div class="white">

            </div>
            <br>

            <img width="75px" src="https://images.vexels.com/media/users/3/166405/isolated/preview/e47539fabaec6a696ef979f2348bfd97-knight-chess-piece-by-vexels.png">
            
            <br>

            <div class="first">
                <p>this is example 1</p>
            </div>

            <div class="second">
                <p>this is example 2</p>
            </div>

            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem assumenda velit non ullam adipisci commodi similique corporis iusto quaerat tempora ratione numquam magnam cupiditate, facere hic, rerum ducimus inventore nesciunt.</p>


        </div>
    </body>
</html>