*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    
    width: 80%;
    margin: auto;
    height: 10vh;
    align-items: center;
}





.logo-container,
.cart,.nav-links{
    display: flex;
}




.logo-container{
    
    flex: 1;
}

nav{
    
    flex: 2;

}
.cart{
   
    flex: 1;
    justify-content: flex-end;
}

.logo{
    font-weight: 500;
    margin: 5px;
}


.nav-links{
    
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    color: #5f5f79;
    font-size: large;
    text-decoration: none;
}


.presentation{
    display: flex;
}

.cover img{
    height: 60vh;
}

















